.img-container {
    height: 300px;
    background-size: cover;
    background-position: center;
  }

#app {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 50px;
}
.card {
    width: 30%;
    position: relative;
}
#board-button{
    position: absolute;
    bottom: 10px;
    left: 55px;
}
.card-title {
    color: white;
}
.card-body {
    background-image: linear-gradient(to top, rgba(209, 209, 219, 0.253), rgba(204, 174, 195, 0.73));
}