.user-info-nav {
    padding: 5px;
    margin-right: 10px;
    margin-top: 5px;
  }
  
  #navbar-logout-button {
    color: white;
    margin-top: 10px;
  }
  .current-img{
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    }
  .user-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }